/* 모달컨텐츠 */
.content {
  color: rgb(26, 26, 26);
  top: 0px;
  left: 0px;
  background-color: rgb(248, 248, 246);
  /* 여길 relative로 적어주어야 중앙정렬됨 */
  position : absolute; 
  width: 160px;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 196, 196);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.015);
  /* 그리드관련 */
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  overflow: hidden;
  z-index: 1;
}

.content__body{
  font-size: 1.1rem;
  padding : 12px 0 0 13px ;
}

.content__body:hover{
  background-color: rgb(223, 223, 223);
}

.hidden {
  display: none;
}