
#header {
  grid-row: 1;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(226, 226, 226);
  box-shadow: 0 3px 5px rgba(0,0,0,0.05), 0 0 5px rgba(0,0,0,0.02);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 70px;
}
#title {
  grid-column: 1;
  padding: 24px 0px 0px 22px;
  font-size: 1.1rem;
  font-weight: 700;
}
.closeicon {
  margin: 19px 19px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.1rem;
}

#body {
  grid-row: 2;
  overflow-x: auto;
  display: flex;
}

#calendar {
  flex : 2;
  margin : 20px 0 0 5px;
}

/* rbc-event도 같이 변경해야함 : 이벤트부분*/
.event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event span {
  flex : 1;
  overflow-x: hidden;
}
.removebutton {
  color: rgb(29, 28, 29);
  margin : 0 0 0 8px;
  flex : 0 0 11px;
  max-width: 30px;
}
.image { 
  width: 30px;
  height: 30px;
}

strong {
  font-size :  1.1rem;
}
