#bpp {
  display: grid;
  grid-template-rows: 40px 1fr;
  color : rgb(178, 196, 216);
  height: 100%;
  background-color:rgb(26, 61, 110);
}

/* border-width*/
/* 하나 : 네방향 */
/* 둘 : 위아래, 좌우 */
/* 셋 : 위, 좌우, 아래 */
/* 하나 : 위 오 아래 왼 */

#namespace {
  display : grid;
  grid-template-rows: 1fr;
  flex: 0 0 59px;
  background-color:rgb(34, 87, 143);
}

.sidebar_iconright {
  display: none;
  cursor: pointer;
  margin: 12px 0px 20px 7px;
}
.sidebar_iconright:hover {
  background-color: rgb(82, 127, 171);
  color: white;
  border-radius: 4px;
}

#namespace ul {
  margin-top: 10px;
  padding-left: 9px;
  overflow-y: auto;
}

#namespace ul li {
  list-style-type: none;
  padding: 5px 0px 8px 0px;
}

.namespace_icon {
  cursor: pointer;
  text-align: center;
  background-color: rgb(153, 153, 153);
  color : white;
  border-style: solid;
  border-width: 3px;
  border-radius: 11px;
  padding-top: 2.5px;
  width: 40px;
  height: 40px;
  font-size: 19px;
  font-weight: 600;
}

.namespace_icon-noborder {
  cursor: pointer;
  text-align: center;
  background-color: rgb(153, 153, 153);
  color: rgb(255, 255, 255);
  border-radius: 9px;
  padding-top: 4px;
  margin-left: 2.5px;
  width: 35px;
  height: 35px;
  font-size: 19px;
  font-weight: 600;
}
.namespace_icon-noborder:hover {
  border-style: solid;
  border-width: 3px;
  border-radius: 11px;
  padding-top: 2px;
  margin-left: 0px;
  margin-top: -1px;
  width: 40px;
  height: 40px;
}

.namespace_image {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

#container {
  display: flex;
  flex : 1;
  overflow-y : hidden
}

/* ----------------------------------------------- */

#list{
  flex: 0 0 221px;
  display: grid;
  grid-template-rows: 70px 1fr;
  background-color:rgb(34, 87, 143);
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: rgb(56, 104, 154);
}

#list_header {
  
  grid-row: 1;
  display: grid;
  grid-template-columns: 160px 60px;
  max-width: 220px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(56, 104, 154);
}

#list_header_button {
  cursor: pointer;
  grid-column: 1;
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 130px;
  padding: 15px 15px 15px 20px;
}
#list_header_button:hover {
  background-color: rgb(82, 127, 171);
  color: white;
}


.sidebar_iconleft {
  cursor: pointer;
  margin: 22px 0px 0px 15.5px;
  grid-column: 2;
}
.sidebar_iconleft:hover {
  background-color: rgb(82, 127, 171);
  color: white;
  border-radius: 4px;
}

#list_header_teamname {
  grid-row : 1;
  font-weight: 600;
}

#list_header_username {
  grid-row : 2;
  font-size: 0.9rem;
  padding: 0px 0px 0px 1px;
}

#list_body {
  grid-row: 2;
  display: grid;
  grid-template-rows: 20px auto auto 1fr;
  overflow-y: auto;
  overflow-x: auto;
}

#list_body_schedule{
  grid-row : 2;
}

#list_body_channel{
  grid-row : 3;
}
#list_body_directmessage{
  grid-row : 4;
}

#list_body strong{
  font-size: 15px;
}
#list_body strong:hover{
  cursor: pointer;
}

#list_body ul{
  padding-left: 0px;
  margin-bottom: 1.2rem;
}

#list_body li{
  padding: 5px 0px 5px 27px;
  cursor: pointer;
  list-style-type: none;
}

#list_body li:hover {
  background-color: rgb(82, 127, 171);
  color: white;
}
/* ----------------------------------------------- */

#chat{
  display: grid;
  color : rgb(29, 28, 29);
  grid-template-rows: 70px 1fr 0px 40px 35px 20px;
  grid-template-columns: 20px 1fr 20px;
  flex : 1;
  background-color:rgb(255, 255, 255);
}

#chat_header {
  grid-row: 1;
  grid-column: 1 / 4;

  display: grid;
  grid-template-columns: 1fr 70px 70px;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(226, 226, 226);
}
.aside_icon {
  cursor: pointer;
  grid-column: 3;
  padding: 24px 0px 0px 27px;
  color:rgb(17, 81, 148);
}

.aside_icon:hover {
  border-radius: 3px;
  color:rgb(29, 28, 29);
}

#roomtitle {
  padding: 20px 0px 0px 22px;
  font-size: 15px;
  font-weight: 600;
}

#chat_messages {
  grid-row: 2;
  grid-column: 1 / 4;
  overflow-y: auto;
}

#chatset_ul {
  padding-left: 13px;
  margin-top: 15px;

}

.chatset_li {
  display: grid;
  padding : 0px 15px 11px 3px; /* 위 / 오 / 아래 / 왼 */
  grid-template-columns: 48px 1fr;
}

.chatset_image {
  display : block;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  grid-column: 1;
}

.chatset_message {
  grid-column: 2;
  padding-left: 5px;
}

.chatset_name {
  font-weight: 600;
  padding-bottom : 2px
}

.chatset_time {
  font-weight: 100;
  color: grey;
}

/* ----------------------------------------------- */
#input_message {
  padding-left: 8px;
  border-radius: 4px 4px 0px 0px;
  border-width: 2px 2px 1px 2px;
  border-style: solid;
  border-color: darkgrey;
  outline: none;
  grid-row: 4;
  grid-column: 2;
}

#input_etc {
  background-color:rgb(255, 255, 255);
  border-style: solid;
  border-color: darkgrey;
  border-width: 0px 2px 2px 2px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  grid-row: 5;
  grid-column: 2;
}
/* ----------------------------------------------- */
aside {
  display: none;
  color : rgb(29, 28, 29);
  flex: 1;
  max-width: 350px;
  background-color:rgb(255, 255, 255);
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: rgb(226, 226, 226);
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  #list{
    display: none;
  }
  .sidebar_iconright {
    display: block;
  }
}