
#aside {
  flex : 1.5;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: rgb(226, 226, 226);
  display: grid;
  grid-template-rows: 50px 1fr 150px;
  max-width: 500px;
}
#header {
  grid-row: 1;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(226, 226, 226);
  box-shadow: 0 3px 5px rgba(0,0,0,0.05), 0 0 5px rgba(0,0,0,0.02);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 70px;
}
#title {
  grid-column: 1;
  padding: 15px 0px 0px 22px;
  font-size: 1.1rem;
  font-weight: 700;
}
.closeicon {
  margin: 13px 23px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.1rem;
}

#body {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#event_title{
  flex : 0 0 40px;
  border-style: none;
  font-weight: 600;
  padding : 5px 0 0 15px;
  outline: none;
}

hr{
  border: solid 1px rgb(196, 196, 196);
  border-width: 0 0 1px 0;
  width: 95%;
}

#event_body {
  flex : 1;
  outline: none;
  border-style: none;
  resize: none;
  line-height: 1.7rem;
  padding : 5px 10px 10px 15px;
  /* background-color: yellow; */
}




#footer {
  grid-row : 3;
  display: grid;
  grid-template-rows: 1fr 1fr 70px;
}

#date_title {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
#date_title span{
  font-weight: 600;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 7px;
}


#date_body {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}
  #date_start { 
    grid-column : 1;
    /* padding : 0 10px 0 10px; */
  }
  #date_end { 
    grid-column : 2;
    /* padding : 0 10px 0 10px; */
  }

#submit {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit_button{
  padding-top: 2px;
  background-color: rgb(165, 167, 168);
  width: 70px;
  height: 27px;
  border-style: solid;
  border-width: 2px;

  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-style : solid;
  border-color : grey;
  
  color : rgb(70, 70, 70);
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
  /* transition: background-color 0.3s; */
}

#submit_button:hover{
  /* #06387a #09428b*/
  padding-top: 4px;
  background-color: #0f4ea1;
  color : rgb(241, 241, 241);
  border-style : none;
}

