.modify-wrapper {
  width : 80%;
  min-height: 65px;
  height : 100%;
  position: static;
  overflow-y : auto;
  border-style: solid;
  border-radius: 5px 5px 0 0 ;
  border-color : grey;
  border-width : 2px 2px 1px 2px;
  grid-column : 2;
  grid-row : 3;
  margin : 6px 15px 0 15px;
}

.modify-control {
  grid-column : 2;
  grid-row : 2;
  width : 80%;
  height: 34px;
  border-style: solid;
  border-radius: 0 0 5px 5px;
  border-width : 0px 2px 2px 2px;
  border-color : grey;
  display : flex;
  justify-content: flex-end;
  align-items: stretch;
  margin : 0 15px 12px 15px;
}

.modify-control span{
  flex : 0 0 40px;
  margin : 3px;
  padding : 3px 0 0 0;
  background-color : rgb(41, 77, 179);
  color : rgb(245, 245, 245);
  border : 1px solid grey;
  border-radius: 4px;
  text-align: center;
  justify-self: flex-end;
}

.modify-control span:hover{

}
.submit {
  flex : 1;
}



.public-DraftEditor-content {
  position: relative;
  height: 65px;
}
/* 여기까지가 타자 한줄한줄 이전부분 */

/* 블록타입은 div태그자체를 다른것으로 바꿈 */
.public-DraftStyleDefault-block {
}
/* ltr타입은스타일로 span을 바꿈 */
.public-DraftStyleDefault-ltr {
}
blockquote {
  background-color : grey;
  margin : 0 0 5px 0;
}
/* ------------스크롤바--------------- */
::-webkit-scrollbar { width: 10px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: #f0f0f0; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { 
    background:#9ba3a2
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }
/* 위 아래 버튼 (버튼 없애기를 함) */
