
#header {

  grid-row: 1;
  display: grid;
  grid-template-columns: 160px 60px;
  max-width: 220px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(0, 0, 0);
}

.sidebar_iconleft {
  cursor: pointer;
  margin: 22px 0px 0px 15.5px;
  grid-column: 2;
}
.sidebar_iconleft:hover {
  background-color: rgb(82, 127, 171);
  color: white;
  border-radius: 4px;
}

#body {
  grid-row: 2;
  display: grid;
  grid-template-rows: 20px auto auto 1fr;
  overflow-y: auto;
  overflow-x: auto;
}
.body_listname {
  padding: 0 0 10px 20px;
  display: grid;
  grid-template-columns: 1fr 35px;
}

.body_listname strong {
  flex : 1
}
.body_listname i {
  flex : 2
}


#body_schedule{
  grid-row : 2;
}

#body_channel{
  grid-row : 3;
}
#body_directmessage{
  grid-row : 4;
}

#body strong{
  font-size: 15px;
}

#body ul{
  padding-left: 0px;
  margin-bottom: 1.2rem;
}

#body li{
  padding: 5px 0px 5px 27px;
  cursor: pointer;
  list-style-type: none;
}

#body li:hover {
  background-color: rgb(82, 127, 171);
  color: white;
}


/* 접속 아이콘 */
.connect, .disconnect{
  font-size: 11px;
}
.connect{
  color: rgb(59, 199, 59);
}